.idea
__pycache__
*.pyc
*.pyo
.pytest_cache
.env

ragflow_official
ragflow_stack
geoserver_data
instance
logs
文档下载+nc下载
data/pdf_reports/**/*.pdf
data/pdf_reports/*.pdf

server.err.log
server.out.log
*.log
